In [143]:
import numpy as np

In [144]:
import pandas as pd

In [145]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [146]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [147]:
!pip install --upgrade chromedriver-py

Requirement already satisfied: chromedriver-py in /Users/joshangelchik/anaconda3/lib/python3.11/site-packages (135.0.7049.95)
Collecting chromedriver-py
  Obtaining dependency information for chromedriver-py from https://files.pythonhosted.org/packages/36/8a/833d86c7735cfb90116d8a39cf4b2dfaf8e8201618521006681af935fb90/chromedriver_py-135.0.7049.97-py3-none-any.whl.metadata
  Downloading chromedriver_py-135.0.7049.97-py3-none-any.whl.metadata (2.0 kB)
Downloading chromedriver_py-135.0.7049.97-py3-none-any.whl (43.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.3/43.3 MB 11.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: chromedriver-py
  Attempting uninstall: chromedriver-py
    Found existing installation: chromedriver-py 135.0.7049.95
    Uninstalling chromedriver-py-135.0.7049.95:
      Successfully uninstalled chromedriver-py-135.0.7049.95
Successfully installed chromedriver-py-135.0.7049.97

In [148]:
from chromedriver_py import binary_path

In [149]:
service = Service(executable_path=binary_path)

# Pull Data From YFinance

## World Indices

In [150]:
lst_world = []

driver = webdriver.Chrome(service = service)

driver.get('https://finance.yahoo.com/markets/world-indices/')

for count in range(50):
    
    try:
        XPATH = f'//*[@id="nimbus-app"]/section/section/section/article/section[1]/div/div/div/table/tbody/tr[{count}]/td[1]/div/span/a/div/span'
        element = driver.find_element(By.XPATH, XPATH)

        lst_world.append(element.text)

        
    except:
        pass

driver.close()

In [151]:
lst_world

['^GSPC',
 '^DJI',
 '^IXIC',
 '^NYA',
 '^XAX',
 '^BUK100P',
 '^RUT',
 '^VIX',
 '^FTSE',
 '^GDAXI',
 '^FCHI',
 '^STOXX50E',
 '^N100',
 '^BFX',
 'MOEX.ME',
 '^HSI',
 '^STI',
 '^AXJO',
 '^AORD',
 '^BSESN',
 '^JKSE',
 '^KLSE',
 '^NZ50',
 '^KS11',
 '^TWII',
 '^GSPTSE',
 '^BVSP',
 '^MXX',
 '^IPSA',
 '^MERV',
 '^TA125.TA',
 '^CASE30',
 '^JN0U.JO',
 'DX-Y.NYB',
 '^125904-USD-STRD',
 '^XDB',
 '^XDE',
 '000001.SS',
 '^N225',
 '^XDN',
 '^XDA']

## Futures

In [152]:
lst_fut = []

driver = webdriver.Chrome(service = service)

driver.get('https://finance.yahoo.com/markets/commodities/')

for count in range(40):
    
    try:
        
        XPATH = f'//*[@id="nimbus-app"]/section/section/section/article/section[1]/div/div/div/table/tbody/tr[{count}]/td[1]/div/span/a/div/span'
        element = driver.find_element(By.XPATH, XPATH)

        lst_fut.append(element.text)

        
    except:
        pass

driver.close()

In [153]:
lst_fut

['ES=F',
 'YM=F',
 'NQ=F',
 'RTY=F',
 'ZB=F',
 'ZN=F',
 'ZF=F',
 'ZT=F',
 'GC=F',
 'MGC=F',
 'SI=F',
 'SIL=F',
 'PL=F',
 'HG=F',
 'PA=F',
 'CL=F',
 'HO=F',
 'NG=F',
 'RB=F',
 'BZ=F',
 'B0=F',
 'ZC=F',
 'ZO=F',
 'KE=F',
 'ZR=F',
 'ZM=F',
 'ZL=F',
 'ZS=F',
 'GF=F',
 'HE=F',
 'LE=F',
 'CC=F',
 'KC=F',
 'CT=F',
 'LBS=F',
 'OJ=F',
 'SB=F']

## Currencies

In [154]:
lst_cur = []

driver = webdriver.Chrome(service = service)

driver.get('https://finance.yahoo.com/markets/currencies/')

for count in range(25):
    
    try:
        
        XPATH = f'//*[@id="nimbus-app"]/section/section/section/article/section[1]/div/div/div/table/tbody/tr[{count}]/td[1]/div/span/a/div/span'
        element = driver.find_element(By.XPATH, XPATH)

        lst_cur.append(element.text)

        
    except:
        pass

driver.close()

In [155]:
lst_cur

['EURUSD=X',
 'JPY=X',
 'GBPUSD=X',
 'AUDUSD=X',
 'NZDUSD=X',
 'EURJPY=X',
 'GBPJPY=X',
 'EURGBP=X',
 'EURCAD=X',
 'EURSEK=X',
 'EURCHF=X',
 'EURHUF=X',
 'CNY=X',
 'HKD=X',
 'SGD=X',
 'INR=X',
 'MXN=X',
 'PHP=X',
 'IDR=X',
 'THB=X',
 'MYR=X',
 'ZAR=X',
 'RUB=X']

## Pull ticker results

In [156]:
import yfinance as yf
import time

In [157]:
df_all = yf.download(lst_world + lst_fut + lst_cur + ['BTC-USD'], period='max')

[*********************100%***********************]  102 of 102 completed

2 Failed downloads:
['^CASE30']: YFInvalidPeriodError("^CASE30: Period 'max' is invalid, must be of the format 1d, 5d, etc.")
['B0=F']: YFInvalidPeriodError("B0=F: Period 'max' is invalid, must be of the format 1d, 5d, etc.")

In [158]:
df_all

Price      Adj Close                Close                               \
Ticker          B0=F ^CASE30    000001.SS  AUDUSD=X B0=F       BTC-USD
Date
1927-12-30       NaN     NaN          NaN       NaN  NaN           NaN
1928-01-03       NaN     NaN          NaN       NaN  NaN           NaN
1928-01-04       NaN     NaN          NaN       NaN  NaN           NaN
1928-01-05       NaN     NaN          NaN       NaN  NaN           NaN
1928-01-06       NaN     NaN          NaN       NaN  NaN           NaN
...              ...     ...          ...       ...  ...           ...
2025-04-19       NaN     NaN          NaN       NaN  NaN  85063.414062
2025-04-20       NaN     NaN          NaN       NaN  NaN  85174.304688
2025-04-21       NaN     NaN  3291.434082       NaN  NaN  87518.906250
2025-04-22       NaN     NaN  3299.757080  0.642199  NaN  93441.890625
2025-04-23       NaN     NaN  3296.355225  0.641968  NaN  93787.539062

Price                                             ...       Volume  \
Ticker           BZ=F    CC=F       CL=F   CNY=X  ...         ^STI
Date                                              ...
1927-12-30        NaN     NaN        NaN     NaN  ...          NaN
1928-01-03        NaN     NaN        NaN     NaN  ...          NaN
1928-01-04        NaN     NaN        NaN     NaN  ...          NaN
1928-01-05        NaN     NaN        NaN     NaN  ...          NaN
1928-01-06        NaN     NaN        NaN     NaN  ...          NaN
...               ...     ...        ...     ...  ...          ...
2025-04-19        NaN     NaN        NaN     NaN  ...          NaN
2025-04-20        NaN     NaN        NaN     NaN  ...          NaN
2025-04-21  66.260002  8810.0  63.080002     NaN  ...  215931300.0
2025-04-22  67.440002  9310.0  64.309998  7.2990  ...  275127500.0
2025-04-23  66.970001  9086.0  63.259998  7.2872  ...          0.0

Price
Ticker       ^STOXX50E   ^TA125.TA      ^TWII ^VIX ^XAX ^XDA ^XDB ^XDE ^XDN
Date
1927-12-30         NaN         NaN        NaN  NaN  NaN  NaN  NaN  NaN  NaN
1928-01-03         NaN         NaN        NaN  NaN  NaN  NaN  NaN  NaN  NaN
1928-01-04         NaN         NaN        NaN  NaN  NaN  NaN  NaN  NaN  NaN
1928-01-05         NaN         NaN        NaN  NaN  NaN  NaN  NaN  NaN  NaN
1928-01-06         NaN         NaN        NaN  NaN  NaN  NaN  NaN  NaN  NaN
...                ...         ...        ...  ...  ...  ...  ...  ...  ...
2025-04-19         NaN         NaN        NaN  NaN  NaN  NaN  NaN  NaN  NaN
2025-04-20         NaN  14903700.0        NaN  NaN  NaN  NaN  NaN  NaN  NaN
2025-04-21         NaN  31612700.0  2325500.0  0.0  0.0  0.0  0.0  0.0  0.0
2025-04-22  24478700.0  70225300.0  2526000.0  0.0  0.0  0.0  0.0  0.0  0.0
2025-04-23         0.0         0.0        0.0  0.0  NaN  NaN  0.0  0.0  0.0

[26122 rows x 512 columns]

In [159]:
# unstack, and pivot back to OCLH format
df_unstack = df_all.unstack().reset_index().rename(columns={0:'value'})

In [250]:
df_all = df_unstack[df_unstack['Price']!='Adj Close'].dropna().pivot(index = 'Ticker Date'.split(),columns='Price',values='value').reset_index().sort_values('Ticker Date'.split())

In [251]:
df_all

Price,Ticker,Date,Close,High,Low,Open,Volume
0,000001.SS,1997-07-02,1199.061035,1261.571045,1147.331055,1255.909058,0.0
1,000001.SS,1997-07-03,1150.623047,1194.676025,1149.939941,1194.676025,0.0
2,000001.SS,1997-07-04,1159.342041,1163.249023,1124.776001,1138.921021,0.0
3,000001.SS,1997-07-07,1096.818970,1163.447021,1085.572021,1161.707031,0.0
4,000001.SS,1997-07-08,1109.666016,1115.432983,1066.043945,1092.798950,0.0
...,...,...,...,...,...,...,...
662183,^XDN,2025-04-16,70.535004,70.599998,69.998001,70.092003,0.0
662184,^XDN,2025-04-17,70.212997,70.469002,70.068001,70.127998,0.0
662185,^XDN,2025-04-21,70.957001,71.144997,70.901001,71.026001,0.0
662186,^XDN,2025-04-22,70.667999,71.320999,70.586998,71.299004,0.0
662187,^XDN,2025-04-23,70.503197,70.632698,70.479897,70.592102,0.0

In [252]:
df_all['ym'] = pd.to_datetime(df_all['Date']).dt.strftime('%Y-%m')

In [253]:
# get open per ym
df_open = df_all['Ticker ym Open'.split()].groupby('Ticker ym'.split()).first().reset_index()

# get close per ym
df_close = df_all['Ticker ym Close'.split()].groupby('Ticker ym'.split()).last().reset_index()

# get high per ym
df_high = df_all['Ticker ym High'.split()].groupby('Ticker ym'.split()).max().reset_index()

# get low per ym
df_low = df_all['Ticker ym Low'.split()].groupby('Ticker ym'.split()).min().reset_index()

In [254]:
# # get monthly values
# df_all = df_open.merge(df_close,on='Ticker ym'.split()).merge(df_high,on='Ticker ym'.split()).merge(df_low,on='Ticker ym'.split())

In [255]:
df_close = df_close.pivot(index='ym',columns='Ticker',values='Close')

In [301]:
# capture yoy change
df_yoy = (df_close - df_close.shift(12))/df_close.shift(12)

In [302]:
df_yoy

Ticker,000001.SS,AUDUSD=X,BTC-USD,BZ=F,CC=F,CL=F,CNY=X,CT=F,DX-Y.NYB,ES=F,...,^STI,^STOXX50E,^TA125.TA,^TWII,^VIX,^XAX,^XDA,^XDB,^XDE,^XDN
ym,,,,,,,,,,,,,,,,,,,,,
1927-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12,0.126668,-0.088819,1.210547,-0.031153,1.782412,0.000977,0.026889,-0.155556,0.070660,0.231483,...,0.168915,0.076881,0.286024,0.284666,0.393574,0.020016,NaN,NaN,NaN,NaN
2025-01,0.165697,-0.057591,1.404856,-0.060580,1.278515,-0.043771,0.012236,-0.226488,0.049385,0.245714,...,0.222901,0.137353,0.339878,0.315036,0.144948,0.088931,NaN,NaN,NaN,NaN
2025-02,0.101396,-0.040418,0.378680,-0.124851,0.384639,-0.108612,0.012410,-0.371012,0.033122,0.168406,...,0.239938,0.120090,0.280499,0.215451,0.464925,0.092248,NaN,NaN,NaN,NaN
2025-03,0.096864,-0.035888,0.157223,-0.145633,-0.190866,-0.140555,0.005023,-0.268658,-0.003252,0.064943,...,0.232139,0.032453,0.197162,0.019781,0.712529,0.047814,NaN,NaN,NaN,NaN
2025-04,0.061688,-0.021673,0.546708,-0.237765,-0.103326,-0.227877,0.006839,-0.118840,-0.067181,0.075883,...,0.163887,0.031832,0.292734,-0.037137,0.788498,0.012772,-0.016826,0.064789,0.068845,0.111845

In [303]:
# index into columns that have values for current date
df_yoy = df_yoy[df_yoy.columns[df_yoy.iloc[-1,:].notna()]].copy()

### filter for normally distributed YoY changes

In [304]:
from scipy.stats import normaltest

lst_col = []

for col in df_yoy.columns[~df_yoy.columns.str.contains('_lag')]:
    
    try:
        sta,pval = normaltest(df_yoy[col].dropna())
        print(col,pval)
    
        if pval<.05:
            lst_col.append(col)
    except:
        lst_col.append(col)

df_yoy = df_yoy[df_yoy.columns[~df_yoy.columns.str.contains('|'.join(lst_col))]].copy()

000001.SS 1.2771165551173154e-41
AUDUSD=X 0.00010995911131635495
BTC-USD 2.6660499130696978e-18
BZ=F 7.795269167779879e-10
CC=F 2.152002818781613e-37
CL=F 7.30034271880556e-20
CNY=X 0.382040394803237
CT=F 8.718943236672785e-14
DX-Y.NYB 0.6011141618139442
ES=F 8.68759329082765e-06
EURCAD=X 0.17480896290093023
EURCHF=X 0.014999063314226612
EURGBP=X 2.837735627014933e-07
EURHUF=X 0.2677881744560947
EURJPY=X 0.04675654571044954
EURSEK=X 0.053678355181063474
EURUSD=X 0.08420137710953766
GBPJPY=X 1.0430498772298902e-05
GBPUSD=X 0.00010362409520364673
GC=F 0.3474355498431313
GF=F 0.8629019377528483
HE=F 5.773225537386525e-22
HG=F 9.853098050158056e-15
HKD=X 0.49769545496740597
HO=F 1.1269757574560267e-05
IDR=X 0.0008591190054230024
INR=X 1.6068527659417783e-05
JPY=X 0.0039071395908706254
KC=F 4.8267309302467025e-05
KE=F 3.754397851356356e-10
LE=F 0.5753963056098089
MGC=F 4.564726253895956e-29
MXN=X 3.5267324117676206e-05
MYR=X 1.2646165923143715e-11
NG=F 2.7982383548347005e-14
NQ=F 2.7177366881669536e-05
NZDUSD=X 0.008177849717693187
OJ=F 3.0389504554864187e-05
PA=F 0.00014404337605217082
PHP=X 0.7078581575955459
PL=F 0.00044022233446673836
RB=F 1.2976132052398025e-22
RTY=F 3.201195887727544e-06
RUB=X 2.9212870675818457e-18
SB=F 1.326657320596182e-09
SGD=X 0.7589995056441838
SI=F 3.932659651891687e-15
SIL=F 0.0021884280627634026
THB=X 0.9789058752923053
YM=F 1.3677760274511036e-08
ZAR=X 0.500234379570951
ZB=F 0.7402192462174588
ZC=F 2.8838446739977016e-15
ZF=F 0.16895600717849324
ZL=F 3.266488889848806e-19
ZM=F 1.6180843730555238e-06
ZN=F 0.6720783530435437
ZO=F 9.067973328412688e-12
ZR=F 1.1292613940482022e-13
ZS=F 9.46979177648476e-09
ZT=F 0.017201164302856568
^125904-USD-STRD 0.00029717580244261767
^AORD 5.625133741768925e-11
^AXJO 3.481877034204737e-08
^BFX 0.00018993324353403922
^BSESN 0.006105867298135991
^BUK100P 0.1070067818502863
^BVSP 7.311243974825886e-118
^DJI 2.277263084184366e-05
^FCHI 0.5163836756672856
^FTSE 0.004757852458994519
^GDAXI 0.03505588607708165
^GSPC 4.676697750617004e-22
^GSPTSE 0.0007087363004424322
^HSI 0.00019240346064099652
^IXIC 0.0027817745248782904
^JKSE 2.988850415133928e-06
^JN0U.JO 5.961488492484799e-06
^KLSE 5.0454392009487985e-25
^KS11 3.565949212560575e-39
^MERV 3.899781797431044e-36
^MXX 0.00026048346075619426
^N100 0.0003640986236560193
^N225 4.410775779606955e-07
^NYA 2.645593933547094e-05
^NZ50 5.9033119548784935e-08
^RUT 0.00020268154261347072
^STI 1.3518354386253059e-24
^STOXX50E 0.020641311852490532
^TA125.TA 2.9103897773915895e-06
^TWII 0.050287382488118
^VIX 3.805355116420897e-39
^XAX 0.002399112910564908

In [305]:
df_yoy

Ticker,CNY=X,DX-Y.NYB,EURCAD=X,EURHUF=X,EURSEK=X,EURUSD=X,GC=F,GF=F,HKD=X,LE=F,...,^STI,^STOXX50E,^TA125.TA,^TWII,^VIX,^XAX,^XDA,^XDB,^XDE,^XDN
ym,,,,,,,,,,,,,,,,,,,,,
1927-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12,0.026889,0.070660,0.019842,0.075088,0.039948,-0.059815,0.274825,0.183198,-0.006183,0.116165,...,0.168915,0.076881,0.286024,0.284666,0.393574,0.020016,NaN,NaN,NaN,NaN
2025-01,0.012236,0.049385,0.036928,0.052366,0.017610,-0.041142,0.373023,0.148137,-0.003237,0.153651,...,0.222901,0.137353,0.339878,0.315036,0.144948,0.088931,NaN,NaN,NaN,NaN
2025-02,0.012410,0.033122,0.020252,0.017605,0.000071,-0.040936,0.386714,0.104317,-0.006514,0.074592,...,0.239938,0.120090,0.280499,0.215451,0.464925,0.092248,NaN,NaN,NaN,NaN
2025-03,0.005023,-0.003252,0.060316,0.020866,-0.061585,0.002728,0.408316,0.156206,-0.006006,0.123243,...,0.232139,0.032453,0.197162,0.019781,0.712529,0.047814,NaN,NaN,NaN,NaN
2025-04,0.006839,-0.067181,0.077404,0.045152,-0.066767,0.064701,0.452431,0.174486,-0.008456,0.116622,...,0.163887,0.031832,0.292734,-0.037137,0.788498,0.012772,-0.016826,0.064789,0.068845,0.111845

In [306]:
# determine outliers w/low value counts
s_desc = df_yoy.count().describe()

In [307]:
from HDBSCAN_outlier import *

In [308]:
arr_out,arr_in,clusterer = hdbscan_outlier(df_yoy.count().unique().reshape(-1,1),2)

In [309]:
df_res = pd.concat([pd.Series(df_yoy.count().unique()),pd.Series(clusterer.labels_)],axis=1)

df_res.columns = 'count cluster'.split()

In [310]:
out_low = arr_in.min()

In [311]:
# get inliers
df_yoy = df_yoy[df_yoy.count()[df_yoy.count()>=out_low].index]

In [312]:
df_yoy.dropna()

Ticker,CNY=X,DX-Y.NYB,EURSEK=X,GC=F,GF=F,HKD=X,LE=F,ZB=F,ZF=F,ZN=F,...,^N100,^N225,^NYA,^NZ50,^RUT,^STI,^TA125.TA,^TWII,^VIX,^XAX
ym,,,,,,,,,,,,,,,,,,,,,
2004-01,-0.001220,-0.127215,-0.003243,0.092045,0.101426,-0.004141,0.014067,-0.007520,-0.001806,-0.006160,...,0.214092,0.293008,0.345669,0.265352,0.560470,0.431240,0.738739,0.271222,-0.466474,0.459092
2004-02,-0.001281,-0.124361,0.009526,0.131925,0.138532,-0.001750,0.074843,-0.016730,-0.004784,-0.011513,...,0.334584,0.320324,0.419057,0.297541,0.624210,0.482616,0.728393,0.522978,-0.508944,0.510191
2004-03,-0.001256,-0.115586,0.004252,0.272105,0.145234,-0.001212,0.108179,0.011641,0.000551,0.004625,...,0.348788,0.469436,0.395088,0.342414,0.619328,0.466233,0.656677,0.509340,-0.425729,0.519172
2004-04,-0.001196,-0.069040,0.004377,0.141256,0.206205,0.000077,0.117015,-0.060839,-0.033516,-0.040174,...,0.228851,0.501872,0.254866,0.306878,0.404134,0.437592,0.454569,0.474857,-0.189533,0.420974
2004-12,-0.000024,-0.069834,-0.004763,0.052442,0.289832,0.002580,0.163860,0.029160,-0.018757,-0.002923,...,0.080398,0.076065,0.121606,0.250618,0.169974,0.170936,0.190048,0.042270,-0.274167,0.222223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12,0.026889,0.070660,0.039948,0.274825,0.183198,-0.006183,0.116165,-0.088794,-0.019410,-0.036678,...,0.041669,0.192157,0.133165,0.113865,0.100189,0.168915,0.286024,0.284666,0.393574,0.020016
2025-01,0.012236,0.049385,0.017610,0.373023,0.148137,-0.003237,0.153651,-0.068966,-0.018452,-0.031020,...,0.083202,0.090550,0.182583,0.097213,0.174777,0.222901,0.339878,0.315036,0.144948,0.088931
2025-02,0.012410,0.033122,0.000071,0.386714,0.104317,-0.006514,0.074592,-0.007862,0.011590,0.010377,...,0.085307,-0.051337,0.137485,0.077373,0.052671,0.239938,0.280499,0.215451,0.464925,0.092248
2025-03,0.005023,-0.003252,-0.061585,0.408316,0.156206,-0.006006,0.123243,-0.026207,0.007433,0.003808,...,0.016929,-0.117710,0.059150,0.011583,-0.053018,0.232139,0.197162,0.019781,0.712529,0.047814
2025-04,0.006839,-0.067181,-0.066767,0.452431,0.174486,-0.008456,0.116622,0.013454,0.034609,0.035195,...,-0.011652,-0.092097,0.048389,-0.000086,-0.042368,0.163887,0.292734,-0.037137,0.788498,0.012772

In [244]:
# capture lags up to 12 months back
lst_df = [df_yoy]
for i in range(1,13):
    
    df_shift = df_yoy.shift(i)
    df_shift.columns = df_shift.columns+f'_{i}mo_lag'
    lst_df.append(df_shift)
    
df_yoy = pd.concat(lst_df,axis=1)

In [245]:
df_yoy

Ticker,000001.SS,AUDUSD=X,BTC-USD,BZ=F,CC=F,CL=F,CNY=X,CT=F,DX-Y.NYB,ES=F,...,^N225_12mo_lag,^NYA_12mo_lag,^NZ50_12mo_lag,^RUT_12mo_lag,^STI_12mo_lag,^STOXX50E_12mo_lag,^TA125.TA_12mo_lag,^TWII_12mo_lag,^VIX_12mo_lag,^XAX_12mo_lag
ym,,,,,,,,,,,,,,,,,,,,,
1927-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12,0.126668,-0.088819,1.210547,-0.031153,1.782412,0.000977,0.026889,-0.155556,0.070660,0.231483,...,0.282422,0.109889,0.025908,0.150927,-0.003399,0.191909,0.040660,0.268298,-0.425473,0.110992
2025-01,0.165697,-0.057591,1.404856,-0.060580,1.278515,-0.043771,0.012236,-0.226488,0.049385,0.245714,...,0.327865,0.054547,-0.014909,0.007971,-0.063185,0.116478,0.023836,0.171918,-0.260309,0.023957
2025-02,0.101396,-0.040418,0.378680,-0.124851,0.384639,-0.108612,0.012410,-0.371012,0.033122,0.168406,...,0.427050,0.141193,-0.015066,0.083211,-0.037019,0.150857,0.146410,0.223363,-0.352657,0.059973
2025-03,0.096864,-0.035888,0.157223,-0.145633,-0.190866,-0.140555,0.005023,-0.268658,-0.003252,0.064943,...,0.439633,0.191075,0.018578,0.178682,-0.010706,0.178067,0.184104,0.278950,-0.304278,0.140100
2025-04,0.061688,-0.021673,0.546708,-0.237765,-0.103326,-0.227877,0.006839,-0.118840,-0.067181,0.075883,...,0.330922,0.132348,-0.005186,0.115840,0.006782,0.128899,0.123525,0.309222,-0.008238,0.146606